vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Apr 2006 19:40:24 -0000
vti_extenderversion:SR|5.0.2.2634
vti_usagebymonth:UX|3 27 345
vti_usagebyweek:UX|0 3 0 1
vti_usagebyday:UX|0 1 1 0 1
vti_usagelastupdated:TX|16 Jul 2006 02:02:17 -0000
vti_usagetotalhits:IX|375
vti_cacheddtm:TX|28 Apr 2006 19:40:24 -0000
vti_filesize:IR|1886
vti_backlinkinfo:VX|spettacolo_dieci.htm spettacolo_undici.htm spettacolo_otto.htm spettacolo_sei.htm spettacolo_sette.htm popup/crepino1986.html spettacolo_uno.htm index.html contatti.html laboratori.htm progetti.htm spettacolo_due.htm spettacolo_tre.htm storia2.html spettacolo_dodici.htm popup/crepino1997.html popup/crepino1998.html quelli.html spettacolo_cinque.htm spettacolo_quattro.htm storia.html popup/crepino1994.html popup/crepino1995.html popup/crepino1996.html organizzazione.html produzione.html spettacolo_nove.htm popup/crepino1977.html popup/crepino1990.html popup/crepino1991.html popup/crepino1993.html convegno.htm spettacolo.htm
